.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: slategray;
  }
  
  body.correct {
    background-color: darkseagreen;
  }
  
  body.wrong {
    background-color: maroon;
  }
  
  .container {
    font-family: Arial, sans-serif;
    width: 800px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .button {
    border: 1px solid cadetblue;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .button:hover {
    border-color: black;
  }
  
  .button.correct {
    border-color: seagreen;
    background-color: seagreen;
  }
  
  .button.wrong {
    border-color: maroon;
    background-color: maroon;
  }
  
  .next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  .active-category {
      background-color: cadetblue;
      color: white;
  }
  
  .category-button {
    border-radius: 5px;
    padding: 5px 10px;
  }